body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  display: flex;
  flex-direction: column;
}

#board {
  width: 640px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
  border: 10px solid black;
}

.square {
  background-color: black;
  height: 80px;
  width: 80px;
  position: relative;
}

.square svg {
  height: 50px;
  width: 50px;
  margin: 15px;
  position: relative;
  z-index: -9;
}

path {
  position: relative;
  z-index: -10;
}

.piece {
  position: relative;
  z-index: 9;
}

.white-square {
  background-color: rgb(115, 115, 115);
}

.dark-square {
  background-color: rgb(128, 64, 48);
}

.black {
  fill: black;
}

.white {
  fill: white;
}
